
.Maincontent{
    position:fixed;
    left:0;
    right:0;
    bottom:0;
    top:0;
    overflow:hidden;
.each-fade{
    user-select: none;
.image-container{
    overflow:hidden;
    margin: auto;
   height: 100%; 
    min-width: 100%;
}
}
}