@import url("//font.googleapis.com/earlyaccess/notosanskr.css");

body{
    margin: 0;
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a{
    text-decoration: inherit;
    color:inherit;
}
