.news_object{
         
    margin:0 auto;
     color: white;
   padding-right: 10px;
   padding-left: 10px;
    
  
     .news_title{
        font-weight:300;
        font-size: 21px;
     }
     .news_thumbnail{
            text-align: center;

        margin:0 auto;
         max-width: 550px;
         max-height: 550px;
         .news_image{
           
          
            max-width: 550px;
           max-height: 550px;
           min-width: 150px;
           min-height: 150px;
         }
         .news_content{

            text-align: left;
         }
     }
 }